<div class="container-fluid">
  <div class="row　sampleRow">

<%= form_for(@user) do |f| %>
<div class="col-md-4">
<form class="form-horizontal">

    <h1>User Info</h1>

    <div class="form-group has-icon field">
    <label class="col-sm-2 control-label"><%= f.label :name %></label>
    <div class="col-sm-10">
    <%= f.text_field :name, autofocus: true, id:"inputEmail", placeholder:"name"%>
    </div>
    </div>
    
    <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %></br>
    
    <div class="form-group col-sm-4">
    <%= f.label :introduction %>
    
    <%= f.text_area :introduction %>
    </div>

    <div class="field ">
    <%= f.submit "UserUpdate", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
    </div>
  </div>    
</div>

</div>
</div>               
<% end %>